In [8]:

import sys
import os
notebookDir = os.getcwd()
parentDir = os.path.dirname(notebookDir)
sys.path.append(parentDir)

from src.data import fetch_data, clean_data, normalize_data, robust_normalize_data
from src.features import add_binary_targets, add_lag_delta, calculate_binary_variables

# Now you can use the functions
rawPath = '../data/ES/CME_MINI_ESX_5m.csv'

rawES = fetch_data(rawPath)
ESX = clean_data(rawES)

ESX

ImportError: cannot import name 'calculate_binary_variables' from 'src.features' (/Users/zSpinach/Documents/Dev/zSPH/QuantumBTP/src/features.py)

In [6]:
ESX.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1648349 entries, 2000-01-03 06:15:00+00:00 to 2024-03-08 16:55:00+00:00
Data columns (total 12 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Open        1648349 non-null  float64
 1   High        1648349 non-null  float64
 2   Low         1648349 non-null  float64
 3   Close       1648349 non-null  float64
 4   HourOfDay   1648349 non-null  int64
 5   Minute      1648349 non-null  int64
 6   DayOfWeek   1648349 non-null  int64
 7   Day         1648349 non-null  int64
 8   Month       1648349 non-null  int64
 9   Year        1648349 non-null  int64
 10  WeekOfYear  1648349 non-null  UInt32
 11  xClose      1648349 non-null  int64
dtypes: UInt32(1), float64(4), int64(7)
memory usage: 158.8 MB

In [7]:
ESX

,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,Year,WeekOfYear,xClose
DateTime,,,,,,,,,,,,
2000-01-03 06:15:00+00:00,1487.25,1487.75,1487.00,1487.75,6,15,0,3,1,2000,1,1
2000-01-03 06:20:00+00:00,1488.25,1488.50,1488.25,1488.50,6,20,0,3,1,2000,1,1
2000-01-03 06:25:00+00:00,1488.75,1488.75,1488.50,1488.50,6,25,0,3,1,2000,1,0
2000-01-03 06:30:00+00:00,1488.25,1488.50,1488.25,1488.50,6,30,0,3,1,2000,1,1
2000-01-03 06:35:00+00:00,1488.00,1488.50,1488.00,1488.50,6,35,0,3,1,2000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 16:35:00+00:00,5133.75,5134.00,5133.00,5133.00,16,35,4,8,3,2024,10,0
2024-03-08 16:40:00+00:00,5133.00,5133.50,5132.75,5133.50,16,40,4,8,3,2024,10,1
2024-03-08 16:45:00+00:00,5133.25,5134.25,5133.00,5133.75,16,45,4,8,3,2024,10,1
2024-03-08 16:50:00+00:00,5134.00,5134.00,5133.25,5133.50,16,50,4,8,3,2024,10,0
2024-03-08 16:55:00+00:00,5133.50,5133.75,5132.00,5132.00,16,55,4,8,3,2024,10,0

In [7]:
zESX = normalizeData(ESX)
zESX

,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,Year,WeekOfYear,xClose,isHigh,isLow
DateTime,,,,,,,,,,,,,,
2000-01-03 06:15:00+00:00,-0.486480,-0.486565,-0.486167,-0.486026,6,15,0,3,1,2000,1,1,0,0
2000-01-03 06:20:00+00:00,-0.485572,-0.485883,-0.485031,-0.485345,6,20,0,3,1,2000,1,1,0,0
2000-01-03 06:25:00+00:00,-0.485117,-0.485656,-0.484804,-0.485345,6,25,0,3,1,2000,1,0,0,0
2000-01-03 06:30:00+00:00,-0.485572,-0.485883,-0.485031,-0.485345,6,30,0,3,1,2000,1,1,0,0
2000-01-03 06:35:00+00:00,-0.485799,-0.485883,-0.485258,-0.485345,6,35,0,3,1,2000,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 16:35:00+00:00,2.826889,2.825460,2.827892,2.826202,16,35,4,8,3,2024,10,0,0,0
2024-03-08 16:40:00+00:00,2.826207,2.825006,2.827665,2.826657,16,40,4,8,3,2024,10,1,0,0
2024-03-08 16:45:00+00:00,2.826434,2.825688,2.827892,2.826884,16,45,4,8,3,2024,10,1,0,0
2024-03-08 16:50:00+00:00,2.827116,2.825460,2.828119,2.826657,16,50,4,8,3,2024,10,0,0,0
2024-03-08 16:55:00+00:00,2.826661,2.825233,2.826983,2.825294,16,55,4,8,3,2024,10,0,0,0

In [8]:
xESX = robustNormalizeData(ESX)
xESX

,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,Year,WeekOfYear,xClose,isHigh,isLow
DateTime,,,,,,,,,,,,,,
2000-01-03 06:15:00+00:00,-0.001185,-0.001185,-0.001017,-0.000847,6,15,0,3,1,2000,1,1,0,0
2000-01-03 06:20:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,20,0,3,1,2000,1,1,0,0
2000-01-03 06:25:00+00:00,-0.000169,-0.000508,0.000000,-0.000339,6,25,0,3,1,2000,1,0,0,0
2000-01-03 06:30:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,30,0,3,1,2000,1,1,0,0
2000-01-03 06:35:00+00:00,-0.000677,-0.000677,-0.000339,-0.000339,6,35,0,3,1,2000,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 16:35:00+00:00,2.468925,2.467084,2.470010,2.468417,16,35,4,8,3,2024,10,0,0,0
2024-03-08 16:40:00+00:00,2.468417,2.466746,2.469841,2.468755,16,40,4,8,3,2024,10,1,0,0
2024-03-08 16:45:00+00:00,2.468586,2.467253,2.470010,2.468925,16,45,4,8,3,2024,10,1,0,0
2024-03-08 16:50:00+00:00,2.469094,2.467084,2.470180,2.468755,16,50,4,8,3,2024,10,0,0,0
2024-03-08 16:55:00+00:00,2.468755,2.466915,2.469332,2.467739,16,55,4,8,3,2024,10,0,0,0

In [11]:
zESX = addLagDelta(xESX, 1)

zESX

,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,Year,WeekOfYear,xClose,isHigh,isLow,OpenChange,HighChange,LowChange,CloseChange
DateTime,,,,,,,,,,,,,,,,,,
2000-01-03 06:15:00+00:00,-0.001185,-0.001185,-0.001017,-0.000847,6,15,0,3,1,2000,1,1,0,0,NaN,NaN,NaN,NaN
2000-01-03 06:20:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,20,0,3,1,2000,1,1,0,0,0.000677,0.000508,0.000847,0.000508
2000-01-03 06:25:00+00:00,-0.000169,-0.000508,0.000000,-0.000339,6,25,0,3,1,2000,1,0,0,0,0.000339,0.000169,0.000169,0.000000
2000-01-03 06:30:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,30,0,3,1,2000,1,1,0,0,-0.000339,-0.000169,-0.000169,0.000000
2000-01-03 06:35:00+00:00,-0.000677,-0.000677,-0.000339,-0.000339,6,35,0,3,1,2000,1,1,0,0,-0.000169,0.000000,-0.000169,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 16:35:00+00:00,2.468925,2.467084,2.470010,2.468417,16,35,4,8,3,2024,10,0,0,0,0.000169,-0.000508,-0.000339,-0.000339
2024-03-08 16:40:00+00:00,2.468417,2.466746,2.469841,2.468755,16,40,4,8,3,2024,10,1,0,0,-0.000508,-0.000338,-0.000169,0.000339
2024-03-08 16:45:00+00:00,2.468586,2.467253,2.470010,2.468925,16,45,4,8,3,2024,10,1,0,0,0.000169,0.000508,0.000169,0.000169
2024-03-08 16:50:00+00:00,2.469094,2.467084,2.470180,2.468755,16,50,4,8,3,2024,10,0,0,0,0.000508,-0.000169,0.000169,-0.000169
2024-03-08 16:55:00+00:00,2.468755,2.466915,2.469332,2.467739,16,55,4,8,3,2024,10,0,0,0,-0.000339,-0.000169,-0.000847,-0.001016

In [14]:
zESX = zESX.dropna()

In [15]:
zESX

,Open,High,Low,Close,HourOfDay,Minute,DayOfWeek,Day,Month,Year,WeekOfYear,xClose,isHigh,isLow,OpenChange,HighChange,LowChange,CloseChange
DateTime,,,,,,,,,,,,,,,,,,
2000-01-03 06:20:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,20,0,3,1,2000,1,1,0,0,0.000677,0.000508,0.000847,0.000508
2000-01-03 06:25:00+00:00,-0.000169,-0.000508,0.000000,-0.000339,6,25,0,3,1,2000,1,0,0,0,0.000339,0.000169,0.000169,0.000000
2000-01-03 06:30:00+00:00,-0.000508,-0.000677,-0.000169,-0.000339,6,30,0,3,1,2000,1,1,0,0,-0.000339,-0.000169,-0.000169,0.000000
2000-01-03 06:35:00+00:00,-0.000677,-0.000677,-0.000339,-0.000339,6,35,0,3,1,2000,1,1,0,0,-0.000169,0.000000,-0.000169,0.000000
2000-01-03 06:40:00+00:00,0.000000,-0.000338,0.000339,0.000000,6,40,0,3,1,2000,1,0,0,0,0.000677,0.000338,0.000678,0.000339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-08 16:35:00+00:00,2.468925,2.467084,2.470010,2.468417,16,35,4,8,3,2024,10,0,0,0,0.000169,-0.000508,-0.000339,-0.000339
2024-03-08 16:40:00+00:00,2.468417,2.466746,2.469841,2.468755,16,40,4,8,3,2024,10,1,0,0,-0.000508,-0.000338,-0.000169,0.000339
2024-03-08 16:45:00+00:00,2.468586,2.467253,2.470010,2.468925,16,45,4,8,3,2024,10,1,0,0,0.000169,0.000508,0.000169,0.000169
2024-03-08 16:50:00+00:00,2.469094,2.467084,2.470180,2.468755,16,50,4,8,3,2024,10,0,0,0,0.000508,-0.000169,0.000169,-0.000169
2024-03-08 16:55:00+00:00,2.468755,2.466915,2.469332,2.467739,16,55,4,8,3,2024,10,0,0,0,-0.000339,-0.000169,-0.000847,-0.001016